<br>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
  <fieldset>
    <label for="username"> Enter username: </label>
    <br/>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <br/>
    <label for="email"> email: </label>
    <br/>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>


    <label for="password"> password: </label>
    <br/>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <br/>
    <br/>
    <p>
      <label> Roles:
        <input type="checkbox" name="roles"
               th:each="role : ${allRoles}"
               th:text="${role.name}"
               th:value="${role.id}"
               th:field="*{roles}"
        >
      </label>
    </p>

    <br/>
    <input type="submit" value="Add user">
    <br/>
    <br/>
  </fieldset>

  <div th:if="${#fields.hasAnyErrors()}">
    <ul>
      <li th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
    </ul>
  </div>
  <br/>
  <br><br>
</form>