<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin panel</title>

    <title>Демо Bootstrap</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>


<nav class="navbar" style="background-color: #313131">
    <div class="container-fluid">
        <p class="navbar-brand text-white">
            <b><span class="align-middle" th:text="${user.email}"></span></b>
            <span class="align-middle">with roles:</span>
            <span class="align-middle" th:text="${user.roles}"></span>
        </p>
        <form th:action="@{/logout}" method="POST">
            <input class="btn text-secondary" type="submit" value="Logout">
        </form>
    </div>
</nav>


<div class="tab-pane fade" id="new-users-pane" role="tabpanel"
     aria-labelledby="new-users-tab"
     tabindex="0">              <!--содержимое вкладки New User-->
    <div class="card rounded-0">
        <h5 class="card-header">Add new user</h5>
        <div class="form-justify-content-center mx-auto col-4">
            <div class="card-body text-center">
                <label for="username"><b>First name</b></label>
                <input th:name="username" th:type="text" class="form-control"
                       id="username"
                       placeholder="First name"/>


                <br/>
                <div class="form-group">
                    <div class="col text-center">
                        <label for="surname"><b>First name</b></label>
                        <input th:name="surname" th:type="text" class="form-control"
                               id="surname"
                               placeholder="Last name"/>
                    </div>
                </div>
                <br/>
                <div class="form-group">
                    <div class="col text-center">
                        <label for="age"><b>First name</b></label>
                        <input th:name="age" th:type="number" class="form-control"
                               id="age"
                               placeholder="Age"/>
                    </div>
                </div>
                <br/>
                <div class="form-group">
                    <div class="col text-center">
                        <label for="email"><b>Email</b></label>
                        <input th:name="email" th:type="email" class="form-control"
                               id="email"
                               placeholder="Email"/>
                    </div>
                </div>
                <br/>
                <div class="form-group">
                    <label for="password"><b>Password</b></label>
                    <input th:name="password" th:type="password" class="form-control"
                           id="password"
                           placeholder="Password"/>
                </div>
                <br/>
                <div class="form-group">
                    <div class="col text-center">
                        <label for="roles"><b>Role</b></label>
                        <select multiple
                                class="form-control form-control-sm"
                                id="roles" name="roles" size="2"
                                required>
                            <option th:each="roleNew: ${roles}"
                                    th:value="${roleNew.role}"
                                    th:text="${roleNew.role}">
                            </option>
                        </select>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-success">Add new user</button>

            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>

</body>
</html>