<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Users List</title>
</head>
<body>
<table>
    <thead>All users list</thead>
    <tr>
        <td>ID</td>
        <td>Login</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email</td>
        <td>Action</td>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getFirstName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td>
            <a th:href="@{admin/create-or-edit-user(id=${user.getId()})}" title="Edit user details">Edit</a> /
            <a th:href="@{admin/delete-user(id=${user.getId()})}" title="Delete user">Delete</a>
        </td>
    </tr>
</table>
<a th:href="@{admin/create-or-edit-user}">Create new user.</a>

</body>
</html>