<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Демо Bootstrap</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
</head>

<nav class="navbar" style="background-color: #313131">
    <div class="container-fluid">
        <div class="text-white">
            <li class="list-inline-item"><h5 th:text="${admin.getEmail()}"></h5></li>
            <li class="list-inline-item"><h5 th:text="${admin.getRoles()}"></h5></li>
        </div>
        <form th:action="@{/logout}" method="POST">
            <input class="btn text-secondary" type="submit" value="Logout">
        </form>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">


            <div class="d-flex flex-column flex-shrink-0 p-1" style="width: 140px;">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link active" aria-current="page">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#home"></use>
                            </svg>
                            Admin
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link link-dark">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#speedometer2"></use>
                            </svg>
                            User
                        </a>
                    </li>
                </ul>
            </div>





        </div>


        <div class="col-md-9">



            <div class="col-10">
                <!--        <div class="container-fluid">-->
                <div class="row">
                    <div class="col-md-10" style="background-color: #f3f3f3">
                        <h1>Admin panel</h1>
                        <div class="container-fluid">
                            <nav class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home"
                                   role="tab"
                                   aria-controls="nav-home" aria-selected="true">Users table</a>
                                <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile"
                                   role="tab"
                                   aria-controls="nav-profile" aria-selected="false">New user</a>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                     aria-labelledby="nav-home-tab">


                                    <!--    верх таблицы-->


                                    <!--таблица, кривая-->


                                    <div class="container-fluid">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">First Name</th>
                                                <th scope="col">Last name</th>
                                                <th scope="col">Age</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Role</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Delete</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="user : ${users}">
                                                <td th:text="${user.getId()}">
                                                <td th:text="${user.getUsername()}">
                                                <td th:text="${user.getSurname()}">
                                                <td th:text="${user.getAge()}">
                                                <td th:text="${user.getEmail()}">
                                                <td th:text="${user.getRoles()}">

                                                <td>
                                                    <a type="button" data-toggle="modal" data-target="#editModal"
                                                       class="btn btn-primary"
                                                       th:data-target="${'#edit-model' + user.id}">Edit</a>
                                                </td>
                                                <td>
                                                    <a type="button" data-toggle="modal" data-target="#delete-model"
                                                       class="btn btn-danger"
                                                       th:data-target="${'#delete-modal' + user.id}">Delete</a>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="container-fluid">
                        <div class="col-md-4 offset-md-4">


                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="row>">
                                    <div class="d-flex flex-column flex-shrink-0 p-1 text-dark col-10" style="height: 100%">
                                        <ul class="nav nav-pills flex-column mb-auto">
                                            <form>
                                                <div class="form-group">
                                                    <label for="name">First name</label>
                                                    <input type="text" class="form-control" id="name"
                                                           placeholder="First name">
                                                </div>
                                                <br/>
                                                <div class="form-group">
                                                    <label for="surname">Last name</label>
                                                    <input type="text" class="form-control" id="surname"
                                                           placeholder="Last name">
                                                </div>
                                                <br/>
                                                <div class="form-group">
                                                    <label for="age">Age</label>
                                                    <input type="number" class="form-control" id="age" placeholder="Age">
                                                </div>
                                                <br/>
                                                <div class="form-group">
                                                    <label for="email">Email address</label>
                                                    <input type="email" class="form-control" id="email" placeholder="Email">
                                                </div>
                                                <br/>
                                                <div class="form-group">
                                                    <label for="password">Password</label>
                                                    <input type="password" class="form-control" id="password"
                                                           placeholder="Password">
                                                </div>
                                                <br/>
                                                <div class="form-group">
                                                    <label for="role">Role</label>
                                                    <select multiple class="form-control" id="role">
                                                        <option>ADMIN</option>
                                                        <option>USER</option>
                                                    </select>
                                                </div>
                                            </form>
                                            <br>
                                            <button type="submit" class="btn btn-success">Add new user</button>
                                            </fieldset>
                                            </form>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>







        </div>



    </div>
</div>







<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>