<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Details Page</title>
</head>
<body>
<div th:replace="~{/menu::menu-bar}"></div>
<form th:action="@{/admin/user-details(id=${user.id})}" th:object="${user}" method="post">

    <!-- Добавляем скрытое поле для id -->
    <input type="hidden" th:field="*{id}" />
    <input type="" >

    <label for="firstname">First Name: </label>
    <input id="firstname" type="text" th:placeholder="*{firstName}" th:field="*{firstName}">
    <span class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span><br/>

    <label for="lastname">Last Name: </label>
    <input id="lastname" type="text" th:placeholder="*{lastName}" th:field="*{lastName}">
    <span class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{firstName}"></span><br/>

    <label for="email">Email: </label>
    <input id="email" type="email" th:placeholder="*{email}" th:field="*{email}">
    <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{firstName}"></span><br/>

    <label for="password">Password: </label>
    <input id="password" type="password" th:placeholder="'*******'" th:field="*{password}">
    <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{firstName}"></span><br/>

    <input type="submit" value="Save Changes">
</form>

</body>
</html>