<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>User Page</title>
</head>
<body>
<div th:replace="fragments/navBar :: navBar"></div>
<div align="center">
    <table align="center" border="1">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr
                th:each="u : ${user}">
            <td th:text="${user.getId()}">Id</td>
            <td th:text="${user.getUsername()}">Name</td>
            <td th:text="${user.getEmail()}">Email</td>
            <td th:text="${user.getAuthorities()}">role</td>
            <td><a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a></td>
            <td>
                <form th:method="DELETE" th:action="@{/admin/delete/{id}/(id=${user.getId()})}">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
    </table>
    <br>
    <input type="button" onclick="history.back();" value="Back"/>
    <br><br>
</div>
<br>

<div th:replace="fragments/logout :: logout"></div>

</body>
</html>