<div th:fragment="editModal">

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
         aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>


                <div align="center" class="modal-body ">
                    <form>
                        <fieldset disabled>
                        <div class="form-group">
                            <label for="id" class="col-form-label">
                                <b> ID: </b> </label>
                            <input type="text" class="form-control col-sm-6"
                                   id="id">
                        </div>
                        </fieldset>
                        <div class="form-group">
                            <label for="username" class="col-form-label">
                                <b> Username: </b> </label>
                            <input type="text" class="form-control col-sm-6"
                                   id="username">
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-form-label">
                                <b>Email:</b></label>
                            <input type="text" class="form-control col-sm-6"
                                   id="email">
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-form-label">
                                <b>Password:</b></label>
                            <input type="text" class="form-control col-sm-6"
                                   id="password">
                        </div>

                        <div class="form-group">
                            <label for="editRole"><b>Role</b></label>
                            <select multiple class="custom-select" size="2"
                                    id="editRole"
                                    th:field="*{allRoles}">
                                <option th:each="role : ${allRoles}"
                                        th:text="${role.name}"
                                        th:value="${role.id}"></option>
                            </select>
                        </div>
                    </form>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Close
                    </button>

                    <a th:href="@{/admin/edit/{id} (id=${user.getId()})}">
                        <button type="button" class="btn btn-primary"> Edit</button>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>