body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: linear-gradient(to right, rgb(241, 233, 233), rgb(246, 229, 229));
}

h1 {
    color: #4f4b4b;
    text-align: center;
}

table {
    width: 100%;
    max-width: 550px;
    border-collapse: collapse;
    margin: 0 auto 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #4CAF50;
    color: white;
}

form {
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
}

form input[type="text"], form input[type="number"] {
    margin-bottom: 10px;
    padding: 5px;
    width: 98%;
}

form input[type="submit"] {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}