<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add user</title>
</head>
<body>
<h2>Add new user</h2>
<div>
  <form th:action="@{/admin/add}"
        th:object="${user}"
        method="post">
    <fieldset>
      <legend>Enter user`s information</legend>
      <p>
        <label th:for="username">Username
          <input type="text"
                 name="username"
                 th:id="username">
        </label>
        <br/>
        <label th:for="password">Password
          <input type="text"
                 name="password"
                 th:id="password">
        </label>
        <br/>
        <label>
          <input type="checkbox"
                 name="role"
                 th:value="ROLE_ADMIN"
                 th:text="Administrator">
        </label>
        <br/>
      </p>
    </fieldset>
    <button type="submit">Submit</button>
  </form>
  <br/>
  <form th:action="@{/admin}">
    <button type="submit">Back</button>
  </form>
</div>
</body>
</html>