<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

<h1 class="text-inherit"> Таблица Users </h1>
<div class=".container-lg d-flex justify-content-inherit" style="width: 50%; margin: inherit">
    <table class="table table-dark mx-auto">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td th:text="${user.id}"/>
            <td th:text="${user.username}"/>
            <td th:text="${user.lastName}"/>
            <td th:text="${user.email}"/>
            <td th:text="${user.roles}"/>
            <td>
                <div class="divBox">
                    <a th:href="@{/admin/edit/{id}(id=${user.getId()})}"> Edit </a>
                </div>
            </td>
            <td>
                <div class="divBox">
                    <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                        <input type="submit" value="Delete"/>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<br/>
<hr style="width: 50%">
<a href="/admin/new"> Add new user</a>

<br/>
<br/>
<a href="/user"> Go to User information-page </a>

<br/>
<br/>
<a href="/logout"> Logout </a>

</body>
</html>