<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<form th:method="POST" th:action="@{'/edit?id=' + ${user.id}}" th:object="${user}">
    <label for="firstname">Enter first name: </label>
    <input type="text" name="firstName" th:field="*{firstname}" id="firstname" tabindex="1"/>
    <span class="error" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></span><br/>
    <label for="lastname">Enter last name: </label>
    <input type="text" name="lastName" th:field="*{lastname}" id="lastname" tabindex="2"/>
    <span class="error" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></span><br/>
    <label for="email">Email: </label>
    <input type="text" name="email" th:field="*{email}" id="email" tabindex="3"/>
    <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span><br/>
    <input type="submit" value="Update"/>
</form>
<a href="/">Return</a>
</body>
</html>