<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>Update user</title>
<body>



<form th:method="POST" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
  <label for="username">Username</label>
  <input type="text" th:field="*{username}" id="username">
  <br><br>
  <label for="surname">Surname</label>
  <input type="text" th:field="*{surname}" id="surname">
  <br><br>
  <label for="age">Age</label>
  <input type="number" th:field="*{age}" id="age">
  <br><br>
  <label for="email">Email</label>
  <input type="text" th:field="*{email}" id="email">
  <br><br>
  <label for="password">Password</label>
  <input class="form-control" type="password" th:field="*{password}" id="password"/>
  <br><br>
  <input type="submit" value="TEST UPDATE USER">
</form>