<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Change user</title>
</head>
<body>
<h2>Change user</h2>
<div>
  <form th:action="@{/admin/edit}" th:object="${user}" th:method="put">
    <input type="hidden" name="id" th:value="${user.getId()}">
    <fieldset>
      <legend>User information</legend>
      <p>
        <label th:for="username">Username
          <input type="text" name="username" th:id="username" th:value="${user.getUsername()}">
        </label>
        <br/>
        <label th:for="password">Password
          <input type="text" name="password" th:id="password" th:value="${user.getPassword()}">
        </label>
        <br/>
        <label>
          <input type="checkbox"
                 name="roleAdmin"
                 th:checked="${role}"
                 th:value="ROLE_ADMIN"
                 th:text="Administrator">
        </label>
      </p>
    </fieldset>
    <button type="submit">Change</button>
  </form>
  <br/>
  <form th:action="@{/admin}">
    <button type="submit">Back</button>
  </form>
</div>
</body>
</html>