<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:text="${user.getName()}"></title>
</head>
<body>
<div align="center">
    <form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
        <label for="name"> Enter name: </label>
        <br/>
        <input type="text" th:field="*{name}" id="name"/>
        <br/>
        <label for="lastName"> Enter last name: </label>
        <br/>
        <input type="text" th:field="*{lastName}" id="lastName"/>
        <br/>
        <input type="submit" value="Edit user">
    </form>
</div>
</body>
</html>