<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
  <meta charset="UTF-8">
  <title>Start page</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}"/>
</head>
<body>
<div sec:authorize="isAuthenticated()">
  Logged in user: <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>
  <form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
  </form>
</div>

<h1>
  <a th:href="@{/login}">Login!</a>
</h1>
</body>
</html>