<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style type="text/css">.field {
        clear: both;
        text-align: right;
    }

    label {
        float: left;
    }

    .main {
        float: left
    }
    </style>
</head>
<body>

<form th:method="POST" th:action="@{/admin}" th:object="${user}"
      method="post" style="max-width: 600px; margin: 0 auto;">


    <div class="m-3">

        <h1 class="text-inherit text-center"> Add new user </h1>

        <div class="form-group row m-2">
            <label class="col-4 col-form-label text-center">Enter name </label>
            <div class="col-8">
                <label>
                    <input type="text" th:field="*{username}" class="form-control" required minlength="2" maxlength="15"/>
                </label>
            </div>
        </div>


        <div class="form-group row m-2">
            <label class="col-4 col-form-label text-center">Enter last name </label>
            <div class="col-8">
                <label>
                    <input type="text" th:field="*{lastName}" class="form-control" required minlength="2" maxlength="15"/>
                </label>
            </div>
        </div>

        <div class="form-group row m-2">
            <label class="col-4 col-form-label text-center">Enter password </label>
            <div class="col-8">
                <label>
                    <input type="password" th:field="*{password}" class="form-control" required minlength="3" maxlength="15"/>
                </label>
            </div>
        </div>

        <div class="form-group row m-2">
            <label class="col-4 col-form-label text-center">Enter email </label>
            <div class="col-8">
                <label>
                    <input type="email" th:field="*{email}" class="form-control"/>
                </label>
            </div>
        </div>

        <div class="form-group row align-items-center mb-3">
            <label class="col-4 col-form-label text-center">Roles: </label>
            <div class="col-8">
                <th:block th:each="role: ${listRoles}">
                    <input type="checkbox" th:field="*{roles}"
                           th:text="${role.name}" th:value="${role.id}" class="m-2"/>
                </th:block>
            </div>
        </div>

        <div class="mx-auto text-center">
            <button type="submit" class="btn btn-primary"> Add new user</button>
        </div>

    </div>
</form>
</body>
</html>
