<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<p th:text="${user.getUsername()}">VALUE</p>
<p th:text="${user.getId()}">VALUE</p>
<p th:text="${user.getSurname()}">VALUE</p>
<p th:text="${user.getAge()}">VALUE</p>
<p th:text="${user.getEmail()}">VALUE</p>

<a th:href="@{admin/users/{id}/edit(id=${user.getId()})}">Update</a>
<br>
<form th:method="DELETE" th:action="@{admin/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>