<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="/css/main.css" rel="stylesheet">
    <title>WorkWithUsers</title>
</head>
<body>
<h1>Users</h1>
<table>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.email}"></td>
    </tr>
</table>

<form method="post" action="/add">
    <label>
        <input type="text" name="name" placeholder="Name">
    </label>
    <label>
        <input type="text" name="surname" placeholder="Surname">
    </label>
    <label>
        <input type="text" name="email" placeholder="Email">
    </label>
    <input type="submit" value="Add User">
</form>

<form method="post" action="/update">
    <label>
        <input type="number" name="id" placeholder="User ID">
    </label>
    <label>
        <input type="text" name="name" placeholder="New Name">
    </label>
    <label>
        <input type="text" name="surname" placeholder="New Surname">
    </label>
    <label>
        <input type="text" name="email" placeholder="New Email">
    </label>
    <input type="submit" value="Update User">
</form>

<form method="post" action="/delete">
    <label>
        <input type="number" name="id" placeholder="User ID">
    </label>
    <input type="submit" value="Delete User">
</form>

</body>
</html>