<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link href="/css/user.css" rel="stylesheet">
    <title>About</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>

<div class="user-info">
    <p><span class="info-label">Id:</span> <span th:text="${user.id}"></span></p>
    <p><span class="info-label">Username:</span> <span th:text="${user.username}"></span></p>
    <p><span class="info-label">Last name:</span> <span th:text="${user.getLastname}"></span></p>
    <p><span class="info-label">Email:</span> <span th:text="${user.email}"></span></p>
    <p><span class="info-label">Role:</span> <span th:text="${user.roles}"></span></p>
</div>

<div class="logout-button-wrapper">
    <form th:action="@{/logout}" method="post" class="logout-form">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input type="submit" value="Logout"/>
    </form>
</div>

</body>
</html>