<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<tr>
    <td th:text="${user.getId()}"></td>
    <td th:text="${user.getUsername()}"></td>
    <td th:text="${user.getName()}"></td>
    <td th:text="${user.getAge()}"></td>
    <td th:text="${user.roleToString()}"></td>

</tr>

<br/>

<form th:method="GET" th:action="@{/logout}" >

    <input type="submit" value="Logout"/>

</form>

</body>
</html>