<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments :: header">
</div>
<div class="container-fluid p-0">
    <div class="row p-0 m-0">
        <div class="col-2 p-3">
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/user">User</a>
                    </li>
                </ul>
            </div>
            <div sec:authorize="hasRole('ROLE_USER') && not hasRole('ROLE_ADMIN')">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">User</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-10 bg-light" style="height: 1000px; min-height: 0">
            <h1 style="margin-top: 1rem; margin-left: 1rem">User information page</h1>
            <div class="card" style="margin-left: 1rem; margin-right: 1rem">
                <div class="card-header">
                    <strong>About </strong> <strong th:text="${user.firstName}"></strong>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead class="border-top">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.age}"></td>
                            <td th:text="${user.email}"></td>
                            <td>
                                <span th:each="role, i : ${userRoles}" th:text="${i.last} ? ${role} : ${role} + ', '"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>
</html>