<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<div th:insert="~{menu::menu-bar}"></div>
<h1 th:text="${user.getFirstName()} + ', welcome spring boot security page!'"></h1>
<p th:text="'Your email is: ' + ${user.getEmail()}"></p>
<p th:each="role : ${user.getRoles()}" th:if="${role.getRoleName()} == 'ROLE_USER'" th:text="${role.getRoleName()}"></p>
</body>
</html>